<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.eleven.login.LoginDAO">
	<select id="encodedPW" resultType="String">
		SELECT pw FROM member WHERE mem_id=#{id}
	</select>

	<select id="login" resultType="String" parameterType="String">
		SELECT mem_id FROM member WHERE mem_id = #{id}
	</select>
	
	<select id="name" resultType="String" parameterType="String">
		SELECT name FROM member WHERE mem_id = #{id} 
	</select>
	
	<select id="pos" resultType="String" parameterType="String">
		SELECT name FROM position  WHERE pos_idx =(SELECT pos_idx  FROM member WHERE mem_id = #{id})
	</select>
	
	<select id="duty" resultType="String" parameterType="String">
		SELECT name FROM duty WHERE duty_idx =(SELECT duty_idx  FROM member WHERE mem_id = #{id})
	</select>
	
	<select id="dep" resultType="String" parameterType="String">
		SELECT name FROM department d  WHERE dep_idx =(SELECT dep_idx  FROM member WHERE mem_id = #{id})
	</select>
	
	<select id="level" resultType="String" parameterType="String">
		SELECT level FROM member WHERE mem_id = #{id}
	</select>
</mapper>